[submodule "Grounded-Segment-Anything"]
	path = Grounded-Segment-Anything
	url = git@github.com:IDEA-Research/Grounded-Segment-Anything.git
	branch = main
[submodule "unilm"]
	path = unilm
	url = git@github.com:bowen-upenn/unilm.git
	branch = master
[submodule "CLIP_Count"]
	path = CLIP_Count
	url = git@github.com:songrise/CLIP-Count.git
